body {
	font-family: sans-serif;
	background-color: #282828;
	color: #eee;
}

h1,
h2 {
	color: #83fa63;
}

h3 {
	color: #6dc554;
}

sub {
	color: #fcff35;
}

a {
	color: #ff3589;
}

code {
	font-family: monospace;
	background-color: rgba(54, 78, 94, 0.253);
	display: block;
	padding: 5px;
}

#app {
	max-width: 650px;
	margin: 0 auto;
}

.dialog {
	background: #2c3547;
	padding: 20px;
	border-radius: 10px;
	margin-bottom: 20px;
}

textarea {
	background-color: rgba(54, 78, 94, 0.253);
	border: none;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
	min-height: 200px;
	color: #eee;
}